body {
  background-color: rgb(64, 225, 211);
}
#lista-de-tareas {
  background-color: rgb(228, 112, 228);
  box-sizing: border-box 20px;
  margin: 10px;
  font-size: medium;
  border-radius: 10px;
  padding-inline: 10px;
}
#agregar-tarea {
  border-radius: 50px;
}

input {
}
